body{
    background:black;
}

p{
    text-align:center;
    font-size:30px;
    color:#ff0000;
}

h1{
    color:lime;
    text-align:center;
}

h2{
    text-align:center;
    font-size:30px;
    color:grey;
}
