body{
    background:black;
}

p{
    text-align:center;
    font-size:30px;
    color:#ff0000;
}

h1{
    color:lime;
    text-align:center;
}

header{
    text-align:center;
    font-size:30px;
    color:#ff0000;
}
